<!--分类文章的逻辑-->
<script>
    console.log(document.getElementsByClassName("list-group list-group-right-arrow"));

    //定义
    var Latest={
        // 用于存放页码
        code:'',
        // 转换初始化数据
        Extend:function(data){
        //
        },
        // 按编号添加页码
        //s是开始页数，f是最后的页数
        Add:function(s,f){
            Pagination.code=' <li class="page-item">\n' +
                '                    <a class="page-link" href="#">Previous</a>\n' +
                '                  </li>'
            for (let i=s;i<f;i++){
                Pagination.code+=' <li class="page-item">\n' +
                    '                    <a class="page-link" href="#">'+i+'</a>\n' +
                    '                  </li>'
            }
            Pagination.code+='  <li class="page-item">\n' +
                '                    <a class="page-link" href="#">Next</a>\n' +
                '                  </li>'
        },
        // 更改页码
        Click:function(){
            Pagination.page= +this.innerHTML;
            Pagination.offset=(Pagination.page-1)*5;
            Pagination.Start();
        },
        // 绑定页码点击事件，并设置当前页样式
        Bind:function(){
            // console.log(Pagination)
            //这边的e是ul，a为ul里的所欲a标签
            var a=Pagination.e.getElementsByTagName('a');
            //这个用来给ul外面加选中的样式
            var li=Pagination.e.getElementsByTagName('li');
            for(let i=1;i<a.length-1;i++){
                if(+a[i].innerHTML===Pagination.page){
                    li[i].className='page-item active';
                }
                a[i].addEventListener('click',Pagination.Click);
            }
            //自己加的
            a[0].addEventListener('click',Pagination.Prev);
            a[a.length-1].addEventListener('click',Pagination.Next);
        },
        // 写入分页
        Finish:function(){
            //这边的e是ul
            Pagination.e.innerHTML=Pagination.code;
            //重置code
            Pagination.code='';
            Pagination.Bind();
        },
        // 根据分页类型作不同的呈现
        Start:function(){
            //在这里改变start！
            //start是小于page的最小整数
            //page 从1开始
            let page=Pagination.page;
            //找出小于page的5的整数
            for(let i=1;i<=page;i=i+5){
                if(page==i){
                    Pagination.start=i;
                    break;
                }
                else if(i>page-5){
                    Pagination.start=i;
                    break;
                }
            }
            //绘制选项
            Pagination.Add(Pagination.start,Pagination.start+5);
            //重新获取一遍文章
            getArticleList();
            refreshArticle();
            Pagination.Finish();

        },
        // 绑定上一页、下一页按钮的点击事件
        //e是nav
        Buttons:function(e){
            var nav=e.getElementsByTagName('a');
            nav[0].addEventListener('click',Pagination.Prev);
            nav[nav.length-1].addEventListener('click',Pagination.Next);
        },
        // 创建初始结构
        Create:function(e){
            //pagination标签里面的东西
            var html=[
                '<nav aria-label="Bootstrap Pagination Example">',
                '<ul class="pagination mb-0">',
                '<li class="page-item">',
                '<a class="page-link" href="#">Previous</a>',
                ' </li>',
                '<li class="page-item">',
                '<a class="page-link" href="#">Next</a>',
                '</li>',
                '</ul>',
                '</nav>',
            ];
            //把字符串转化为数组，用空格代替
            //这里<pagination>里的内容被代替了。
            e.innerHTML=html.join('');
            //对象里面的e是ul
            Pagination.e=e.getElementsByTagName('ul')[0];
            //这里的e是nav
            //！这个button我给去掉了Pagination.Buttons(e);
        },
        // 初始化
        init:function(e,data){
            //把数据加载上去
            Pagination.Extend(data);
            //在这里面button了
            //这边的e是<pagination>标签
            Pagination.Create(e);
            Pagination.Start();
        }
    }


    // 绑定分页组件，并设置分页参数
    var initCategory=function(){
        Latest.Init(document.getElementsByClassName("list-group list-group-right-arrow")),{
            //前端显示开始页数
            start:1,
            //当前页码
            page:1,
            offset:0
        });
        // //拿到初始化文章
        // getArticleList();
    }
    document.addEventListener('DOMContentLoaded',initCategory);
</script>
